*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

.conteudo__principal{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;

}

.conteudo__principal sup{
    font-size: 10px;
    color: darkorchid;

}

.esquerdo{
    width: 300px;
    height: 450px;
}

.esquerdo{
    width: 650px;
    height: 450px;
}

.conteudo-principal--direito--descrição{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid;
    height: 150px;
}


.esquerdo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 2px solid;
    height: 150px;

}

.conteudo-direito-carregador--carregador h2{
    margin-bottom: 15px;
}













